# =========================
# Python
# =========================
__pycache__/
*.pyc

# =========================
# SQLite
# =========================
database/*.db
*.db-journal

# =========================
# Environment
# =========================
.env

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Temporary files
# =========================
temp/
*.tmp

# =========================
# Node
# =========================
node_modules/

# =========================
# Windows
# =========================
Thumbs.db
Desktop.ini